numpy # Not sure it's still required but we might want use it to go faster
deap
matplotlib
dill
pygame # Drawing the scene without java
progressbar
-e git+git@github.com:lumy/doc2md.git#egg=doc2md
